@import url('https://fonts.googleapis.com/css?family=Open+Sans');

section{
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color:#2962FF;
    margin: 5px;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

h2{
    font-family: 'Open Sans: 1000', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color:#2962FF;
    margin-left: 5px;
    margin-bottom: 0px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0px;
    margin-left: 25px;
}

div{
        background: #2962FF;
        width: 3px;
        position: absolute;
        
        margin-right: 5px;
}
