@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lobster');


header{
   width: 100%;
   height: 80px;
   position:fixed;
   top: 0px;
   color: #ffffff;
   background: #2962FF;
}

body{
    margin:  0px;
    padding: 0px;
}

main{
    margin-top: 90px;
}

section{
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color:#2962FF;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #E0E0E0;
    margin: 5px;
}

section .formulario{
    margin-top: 20px;
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    margin-top:0px;
    margin-left: 5px;
    text-align: center;
    align-self: center;
}

h2{
    font-family: 'Open Sans: 1000', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:#2962FF;
    margin-left: 5px;
    margin-bottom: 0px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0px;
    margin-left: 25px;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0px;
    margin-left: 5px;
}

form{
    margin-top: 30px;
    margin: 5px;
}

input{
    margin-left: 5px;
}

textarea{
    margin-left: 5px;
}

footer {
    margin: 30px;
    text-align: center;
}

.img {
    max-width:80px;
    max-height:80px;
    width: auto;
    height: auto;
    float: left;
}
